{%  render 'partials/head.liquid', title: "Instrumenten overzicht" %}
<nav class="overview-nav">
    <ul>
        <li><a href="/instruments">Alles</a></li>
        <li><a href="/instruments?type=gitaar">Gitaar</a></li>
        <li><a href="/instruments?type=keyboard">Keyboard</a></li>
        <li><a href="/instruments?type=viool">Viool</a></li>
        <li><a href="/instruments?type=blaasinstrument">Blaasinstrument</a></li>
        <li><a href="/instruments?type=drums">Drums</a></li>
    </ul>
</nav>

<table class="instrument-overview">
    <caption>Overzicht van instrumenten</caption>

    <thead>
        <tr>
            <th scope="col">Naam isntrument</th>
            <th scope="col">merk</th>
            <th scope="col">type</th>
            <th scope="col">serienummer</th>
            <th scope="col">status</th> 
        </tr>
    </thead>

    <tbody>
        {% for instrument in instruments %}
        <tr>
            <td scope="row"><a href="/instruments/{{ instrument.id }}">{{ instrument.name }}</a></td><!--tijdelijk ik wil css overlay maken-->
            <td>{{ instrument.brand | default: "Onbekend" }}</td>
            <td>{{ instrument.type | default: "Onbekend" }}</td>
            <td>{{ instrument.serial_number | default: "Onbekend" }}</td>
            <td>{{ instrument.status | default: "Onbekend" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% render 'partials/foot.liquid' %}